configuration {
	modi: "window,run,ssh";
	width: 20;
	lines: 15;
	font: "mono 12";
	show-icons: true;
	icon-theme: "Papirus";
	combi-modi: "drun,run";
	max-history-size: 50;
	line-padding: 5;
}
@theme "new_sidebar"
